<% include partials/header.ejs %>

<div class="container main">
    <div class="col-md-3">
        <div class="m-page--sidebar">
            <div class="m-page--sidebar--navigation">
                <a class="m-page--sidebar--navigation--item " href="/settings/general"><i
                        class="fas fa-cogs"></i><span>
                        <%= __('setting_general')%></span></a>
                <a class="m-page--sidebar--navigation--item m-page--sidebar--navigation--item-active" href="/settings/changepassword"><i class="fas fa-unlock-alt"></i><span>
                        <%= __('setting_general_2')%></span></a>
                <a class="m-page--sidebar--navigation--item" href="/settings/twoFactor"><i class="fas fa-shield-alt"></i><span>
                        <%= __('2fa')%></span></a>

                <a class="m-page--sidebar--navigation--item" data-toggle="modal" data-target="#modal_referral"><i class="fas fa-bullhorn"></i><span>REFERRAL LINK</span></a>
                <div id="modal_referral" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                      
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title"><%= __('referrel_modal_1')%></h4>
                            </div>
                            <div class="modal-body">
                                <p><%= __('referrel_text_1')%></p>
                                <input class="link-referrel" type="text" readonly value="https://touristreivew.io/register?referrer=<%= userid %>"/>
                                <p><%= __('referrel_text_2')%></p>
                                <input class="link-referrel" type="text" readonly value="<%= userid %>"/>
                              <p><%= __('referrel_modal_2')%> <%= seting['referral_bonus'] %> TRET</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                      
                        </div>
                      </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="row-setting">
                <form method="POST">
                    <div class="row-header">
                        <h4 class="setting-name">
                            <%= __('doi_mat_khau')%>
                        </h4> <button>
                            <%= __('luu_button')%></button>
                    </div>
                    <% if(error != ""){ %><p class="error_text"><%= error %></p><% }else{ if(success != ""){%><p class="success_text"><%= success %></p><% }} %>
                    <div class="divTable">
                        <div class="divTableBody">
                            <div class="divTableRow">
                                <div class="divTableCell settingsListItemLabel">
                                    <%= __('mat_khau_cu')%>
                                </div>
                                <div class="divTableCell settingsListItem"><input type="password" name="old_password"
                                        placeholder="<%= __('mat_khau_cu')%>" required /></div>
                            </div>
                            <div class="divTableRow">
                                <div class="divTableCell settingsListItemLabel">
                                    <%= __('mat_khau_moi')%>
                                </div>
                                <div class="divTableCell settingsListItem"><input type="password" name="new_password"
                                        placeholder="<%= __('mat_khau_moi')%>" required /></div>
                            </div>
                            <div class="divTableRow">
                                <div class="divTableCell settingsListItemLabel">
                                    <%= __('nhap_lai_mat_khau')%>
                                </div>
                                <div class="divTableCell settingsListItem"><input type="password" name="retype_password" placeholder="<%= __('nhap_lai_mat_khau')%>" required /></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>